<div class={{clase}}>
    <div class="content-convencion">
        <div class="text-content-top">
            <h1 class="title-convencion">{{titulo}}</h1>
            <h2>{{subtitulo}}</h2>
            <div *ngIf="categoria == 'Podcast'" class="single-info">
                <h3 *ngFor="let descripcion of descripciones">
                    {{descripcion}}
                </h3>
                <div *ngIf="categoria === 'Podcast'" class="player">
                    <audio controls>
                        <source [src]=archivo type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
        <div class="block-covers">
            <div class="cover" data-aos="fade-up" data-aos-duration="1000">
                <div data-aos="fade-up" data-aos-duration="1000" class="image-cover">
                    <img [src]=imagenUrl [alt]=imagenUrl>
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <a [href]=archivo target="_blank">
                                <img [src]="getLogoVista()"></a>
                        </li>
                        <li>
                            <a [href]=archivo download><img [src]=descargarSrc></a>
                        </li>
                        <li>
                            <a class="sharelinks">
                                <img [src]=compartirSrc />
                                <div class="botonesRedes">
                                    <button shareButton="facebook" [url]="getRutaRedes(archivo)" class="redondo">
                                        <fa-icon [icon]="faFacebook"></fa-icon>
                                    </button>
                                    <button shareButton="twitter" [url]="getRutaRedes(archivo)" class="redondo">
                                        <fa-icon [icon]="faTwitter"></fa-icon>
                                    </button>
                                    <button shareButton="linkedin" [url]="getRutaRedes(archivo)" class="redondo">
                                        <fa-icon [icon]="faLinkedin"></fa-icon>
                                    </button>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="categoria != 'Podcast'" class="block-info-page">
    <p *ngFor="let descripcion of descripciones">
        {{descripcion}}
    </p>
    <div *ngIf="categoria === 'Podcast'" class="player">
        <audio controls>
            <source [src]=archivo type="audio/mpeg">
        </audio>
    </div>
</div>