<div id="menu-elements-container">
    <div class="wrapper-ham" (click)="mostrarMenu()">
        <div class="btn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</div>
<div id="menu-list-header">
    <ul class="first-menu">
        <li *ngFor="let link of links" [routerLink]=link.liga routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <div *ngIf="link.texto != 'Podcasts'; else podcast">
                {{link.texto}}
            </div>
            <ng-template #podcast>
                <fa-icon [icon]="sonido"></fa-icon> Casos
            </ng-template>
        </li>
    </ul>
</div>