<div id="menu-elements-container">
    <div class="wrapper-ham" (click)="mostrarMenu()">
        <div class="btn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</div>
<div id="menu-list-header">
    <ul class="first-menu">
        <li routerLink="/">
            <a routerLink="/">Inicio</a>
        </li>
        <li>
            <a routerLink="/belem">Belém do Pará</a>
            <ul>
                <li *ngFor="let entrada of entradasBelem">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/cedaw">Cedaw</a>
            <ul>
                <li *ngFor="let entrada of entradasCedaw">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/categoria/podcast">
                <fa-icon [icon]="sonido"></fa-icon> Casos
            </a>
            <ul>
                <li *ngFor="let entrada of entradasPodcast">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/categoria/infografico">Fichero</a>
            <ul>
                <li *ngFor="let entrada of entradasFichero">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>