<div id="menu-elements-container">
    <div class="wrapper-ham" (click)="mostrarMenu()">
        <div class="btn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</div>
<div id="menu-list-header">
    <ul class="first-menu">
        <li routerLink="/">
            <a routerLink="/">Inicio</a>
        </li>
        <li>
            <a routerLink="/belem-do-para">Belém do Pará</a>
            <button class="open-submenu" (click)="showBelem()">
                <fa-icon [icon]=angleDown></fa-icon>
            </button>
            <ul *ngIf="belemMenu">
                <li *ngFor="let entrada of entradasBelem; let i = index">
                    <a [routerLink]=entrada.url>Artículo {{i+1}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/cedaw">Cedaw</a>
            <button class="open-submenu" (click)="showCedaw()">
                <fa-icon [icon]=angleDown></fa-icon>
            </button>
            <ul *ngIf="cedawMenu">
                <li *ngFor="let entrada of entradasCedaw; let i = index">
                    <a [routerLink]=entrada.url>Artículo {{i+1}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/categoria/podcast">
                <img [src]=urlBocina class="iconmenu"> Casos
            </a>
            <button class="open-submenu" (click)="showCasos()">
                <fa-icon [icon]=angleDown></fa-icon>
            </button>
            <ul *ngIf="casosMenu"> 
                <li *ngFor="let entrada of entradasPodcast">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/categoria/ficha">
                <img [src]=urlFicha class="iconmenu"> Fichero
            </a>
            <button class="open-submenu" (click)="showFichero()">
                <fa-icon [icon]=angleDown></fa-icon>
            </button>
            <ul *ngIf="ficheroMenu">
                <li *ngFor="let entrada of entradasFichero">
                    <a [routerLink]=entrada.url>{{entrada.titulo}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>