<div [ngClass]="getClassOf()">
    <h2 class="subtitle">
        <div *ngIf="seccion.titulo != 'Podcasts'; else podcast">
            {{seccion.titulo}}
        </div>
        <ng-template #podcast>
            <fa-icon [icon]="sonido"></fa-icon> Casos
        </ng-template>
    </h2>
    <div *ngIf="seccion.descripcion">
        <p *ngFor="let texto of seccion.descripcion" class="descripcion" [innerHTML]="texto">
            <!-- {{texto}} -->
        </p>
    </div>
    <div class="block-covers">
        <div *ngFor="let entrada of seccion.entradas | slice:0:seccion.noElementos" data-aos="fade-up"
            data-aos-duration="1000" class="cover">
            <div class="image-cover">
                <a [routerLink]=entrada.url routerLinkActive="active"><img [src]=entrada.thumbnail></a>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a [href]=entrada.archivo target="_blank"><img [src]=verSrc [alt]=verAlt></a>
                    </li>
                    <li>
                        <a [href]=entrada.archivo download><img [src]=descargarSrc></a>
                    </li>
                    <li>
                        <a [routerLink]="['/redessociales']"
                            [state]="{ state: { ruta: entrada.archivo } }"><img [src]=compartirSrc
                                [alt]=compartirAlt></a>
                    </li>
                </ul>
            </div>
            <div class="info-cover">
                <h2><a [routerLink]=entrada.url routerLinkActive="active">{{entrada.titulo}}</a></h2>
                <h3 *ngIf="seccion.detalle">Convención: <a [routerLink]="getRutaConvencion(entrada.convencion)"
                        routerLinkActive="active">{{entrada.convencion}}</a></h3>
                <h3 *ngIf="seccion.detalle">Tipo: <a [routerLink]="getRutaCategoria(entrada.tipo)"
                        routerLinkActive="active">{{entrada.tipo}}</a></h3>
            </div>
        </div>
        <div class="verMasBtn" *ngIf="seccion.noElementos < this.seccion.entradas.length">
            <a class="ver-mas" *ngIf="seccion.boton" (click)="aumentar()">Ver más</a>
        </div>
    </div>
</div>