<app-descripcion-convencion [clase]=clase [titulo]=entrada.titulo [subtitulo]=subtitulo [imagenUrl]=entrada.thumbnail
    [imagenAlt]=entrada.thumbnail [descripciones]=descripcion [detalle]=false [convencion]=entrada.convencion
    [categoria]=entrada.tipo [archivo]=entrada.archivo>
</app-descripcion-convencion>
<div class="block-info-page etiquetas">
    <h3>Etiquetas</h3>
    <div class="etiquetas">
        <a *ngFor="let etiqueta of etiquetas" [routerLink]='getLigaEtiqueta(etiqueta)'>
            <span>#</span>{{etiqueta}}
        </a>
    </div>
    <div class="space"></div>
    <h3>Fuentes</h3>
    <div class="etiquetas">
        <a *ngFor="let fuente of fuentes" [routerLink]='getLigaFuente(fuente)'>
            <span>#</span>{{fuente}}
        </a>
    </div>
    <div class="space"></div>
</div>