<app-descripcion-convencion [clase]=clase [titulo]=entrada.titulo [subtitulo]=subtitulo [imagenUrl]=entrada.thumbnail
    [imagenAlt]=entrada.thumbnail [descripciones]=descripcion [detalle]=true [convencion]=entrada.convencion
    [categoria]=entrada.tipo [archivo]=entrada.archivo>
</app-descripcion-convencion>
<div class="block-info-page etiquetas">
    <p>
        Para la búsqueda y la sistematización de los contenidos de las convenciones, se propusieron etiquetas o hashtags
        que resaltan el tema tratado por el artículo o apartado, y guían en la búsqueda de estas temáticas o poblaciones
        afectadas a lo largo del sitio y sus recursos. Por ejemplo #ViolenciaSexual o #MujeresIndígenas.
    </p>
    <div class="etiquetas">
        <a *ngFor="let etiqueta of etiquetas" [href]='getLigaEtiqueta(etiqueta)'>
            <span>#</span>{{etiqueta}}
        </a>
    </div>
</div>