<div class="block-top-content convencion">
    <div class="content-convencion">
        <div class="text-content-top">
            <h1 class="title-convencion">Créditos</h1>
        </div>
    </div>
</div>
<div class="block-info-page creditos">
    <div class="column-page">
        <h4>Coordinación del proyecto: <span class="versalitas">dgdhigai</span>, <span class="versalitas">cjf</span></h4>
        Dirección General: Rebeca Saucedo López<br>
        Supervisión: María Fernanda Aguayo González<br>
        Coordinación de contenidos: Julia Escalante de Haro<br><br>

        <h4>Coordinación Técnica: <span class="versalitas">dgeytd</span>, <span class="versalitas">cjf</span></h4>
        Luis Mercurio Cadena Meza<br>
        Porfirio Valencia Bonales<br>  
        Luis Martín Antonio Cortez<br>   
        Adrián Calderón Gonzaga<br>  
        Ramiro Bahena Martinez<br><br>        

        <h4>Coordinación general y dirección de arte</h4>
        Diego Aguirre<br><br>

        <h4>Investigación jurídica</h4>
        Lelia Jiménez<br>
        Yuli Pliego<br>
        María Luisa Saucedo López<br>
        Alberto Muñoz López<br><br>

        <h4>Coordinación editorial, edición y estrategia de comunicación</h4>
        María Álvarez<br><br>
    </div>
    <div class="column-page">
        <h4>Edición y corrección</h4>
        Mónica Nepote<br><br>

        <h4>Diseño y producción</h4>
        Ana Larco<br><br>

        <h4>Edición y corrección de estilo</h4>
        Israel M. López<br><br>

        <h4>Ilustraciones</h4>
        Vera Primavera<br><br>

        <h4>Podcasts</h4>
        Investigación: María Álvarez, Israel López<br>
        Guiones: Sebastián Quiróz<br>
        Locución: Pamela Carmona Arellano<br>
        Producción: Ana Larco, María Álvarez<br><br>

        <h4>Edición y diseño sonoro</h4>
        Gerardo Martínez GMArt studio<br><br>

        <h4>Estudio de grabación</h4>
        estudio-tuna.com<br><br>
    </div>
    <div class="column-page">
        <h4>Voces empáticas</h4>
        Mónica Nepote<br>
        María Álvarez<br><br>

        <h4>Voces expertas</h4>
        Alexandra Haas<br>
        Alma Beltrán<br>
        Puga Yuli Pliego<br><br>

        <h4>Fichas</h4>
        Investigación y redacción:<br>
        Mariana Niembro<br>
        Diseño:<br>
        Ana Larco<br><br>

        <h4>Serigrafías</h4>
        Karen Ximena Carrillos Silva<br><br>

        <h4>Animaciones</h4>
        Juan Bayas<br><br>

        <h4>Página web</h4>
        Programación: Antonio Salinas<br>
        y Luis Silva
    </div>
</div>