<div class="block-top-content home">
    <div class="text-content-top">
        <h1 class="title" style="color: #ff5f3f;">Justicia para las mujeres</h1>
        <h1 class="title">Convenciones comentadas<br />Jurisprudencia internacional sensible al género</h1>
        <!-- <h2 class="subtitle">Belém do Pará</h2>
        <h2 class="subtitle">CEDAW</h2> -->
    </div>
    <div class="block-covers">
        <div class="cover" data-aos="fade-up" data-aos-duration="1000">
            <div data-aos="fade-up" data-aos-duration="1000" class="image-cover">
                <a routerLink="belem-do-para" routerLinkActive="active"><img [src]=portadaBelemSrc
                        [alt]=portadaBelemAlt></a>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="assets/files/bdp/belemdopara.pdf" target="_blank"><img [src]=verSrc [alt]=verAlt></a>
                    </li>
                    <li>
                        <a href="assets/files/bdp/belemdopara.pdf" download><img [src]=descargarSrc
                                [alt]=descargarAlt></a>
                    </li>
                    <li>
                        <a href=""><img [src]=compartirSrc [alt]=compartirAlt></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="cover" data-aos="fade-up" data-aos-duration="1000">
            <div class="image-cover">
                <a routerLink="cedaw" routerLinkActive="active"><img [src]=portadaCedawSrc [alt]=portadaCedawAlt></a>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="assets/files/cedaw/cedaw.pdf" target="_blank"><img [src]=verSrc [alt]=verAlt></a>
                    </li>
                    <li>
                        <a href="assets/files/cedaw/cedaw.pdf" download><img [src]=descargarSrc
                                [alt]=descargarAlt></a>
                    </li>
                    <li>
                        <a href=""><img [src]=compartirSrc [alt]=compartirAlt></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="block-info-page home">
    <p>
        <em>Justicia para las mujeres</em> es una herramienta desarrollada por la Dirección de Derechos Humanos Igualdad
        de Género
        y Asuntos Internacionales del CJF, cuyo propósito es que el Poder Judicial de la Federación, organizaciones de
        la sociedad civil, personas activistas, litigantes y academia, en su conjunto, se apropien de los contenidos, la
        interpretación y los alcances de la Convención sobre la Eliminación de todas las formas de Discriminación contra
        la Mujer, CEDAW (1979), y la Convención Interamericana para Prevenir, Sancionar y Erradicar la Violencia contra la
        Mujer, Belém do Pará (1994), dos instrumentos internacionales sobre la discriminación y la violencia que viven
        las mujeres.
    </p>
    <p>
        Desde esta perspectiva, se reconoce el carácter endémico de la discriminación y violencia que viven las
        mujeres que habitan en México, <em>Justicia para las mujeres</em> es un proyecto formativo, narrativo y de divulgación,
        que apunta a una transformación cultural desde el interior de las instancias encargadas de garantizar el acceso
        a la justicia a las mujeres en su diversidad.
    </p>
</div>
<div class="block-info-page etiquetas">
    <p>Para la búsqueda y la sistematización de los contenidos de las convenciones, se propusieron etiquetas o hashtags
        que resaltan el tema tratado por el artículo o apartado, y guían en la búsqueda de estas temáticas o poblaciones
        afectadas a lo largo del sitio y sus recursos. Por ejemplo #ViolenciaSexual o #MujeresIndígenas.</p>
    <div class="etiquetas" style="margin: 0 auto;">
        <a *ngFor="let etiqueta of etiquetas" [routerLink]='getLigaEtiqueta(etiqueta)'>
            <span>#</span>{{etiqueta}}
        </a>
    </div>
    <p style="margin-top: 30px;">
        También se tomaron como fuentes los órganos del sistema universal y del sistema interamericano de protección de
        los derechos humanos, particularmente las instancias internacionales que se encargan de la interpretación y
        revisión de la aplicación de las dos convenciones en cuestión, pero también se consideraron órganos surgidos a
        partir de otros tratados internacionales de derechos humanos, que guardan relación con los derechos que se
        consagran en la CEDAW y en Belém do Pará. Entre los documentos citados encontramos recomendaciones, sentencias y
        observaciones de la Comisión Interamericana de Derechos Humanos (CIDH), la Corte Interamericana de Derechos
        Humanos (CoIDH), y el Comité CEDAW.
    </p>
</div>
<app-mostrar-materiales *ngFor="let seccion of secciones;let i=index" [seccion]=seccion>
</app-mostrar-materiales>