<div class="block-top-content home">
    <div class="text-content-top">
        <h1 class="title" style="color: #ff5f3f;">Justicia para las mujeres</h1>
        <h2 class="subtitle">Jurisprudencia internacional sensible al género</h2>
    </div>
    <div class="block-covers">
        <div class="cover" data-aos="fade-up" data-aos-duration="1000">
            <div data-aos="fade-up" data-aos-duration="1000" class="image-cover">
                <a routerLink="belem-do-para" routerLinkActive="active"><img [src]=portadaBelemSrc
                        [alt]=portadaBelemAlt></a>
            </div>
            <app-verdescargarcompartir archivo="assets/files/bdp/belemdopara.pdf" ruta="belem-do-para" tipo="Ficha">
            </app-verdescargarcompartir>
        </div>

        <div class="cover" data-aos="fade-up" data-aos-duration="1000">
            <div class="image-cover">
                <a routerLink="cedaw" routerLinkActive="active"><img [src]=portadaCedawSrc [alt]=portadaCedawAlt></a>
            </div>
            <app-verdescargarcompartir archivo="assets/files/cedaw/cedaw.pdf" ruta="belem-do-para" tipo="Ficha">
            </app-verdescargarcompartir>
        </div>
    </div>
</div>
<div class="block-info-page home">
    <p>
        <em>Justicia para las mujeres</em> es una herramienta desarrollada por la Dirección de Derechos Humanos Igualdad
        de Género
        y Asuntos Internacionales del <span class="versalitas">cjf</span>, cuyo propósito es que el Poder Judicial de la
        Federación, organizaciones de
        la sociedad civil, personas activistas, litigantes y academia, en su conjunto, se apropien de los contenidos, la
        interpretación y los alcances de la Convención sobre la Eliminación de todas las formas de Discriminación contra
        la Mujer, <span class="versalitas">cedaw</span> (1979), y la Convención Interamericana para Prevenir, Sancionar
        y Erradicar la Violencia contra
        la
        Mujer, Belém do Pará (1994), dos instrumentos internacionales sobre la discriminación y la violencia que viven
        las mujeres.
    </p>
    <p>
        Desde esta perspectiva, se reconoce el carácter endémico de la discriminación y violencia que viven las
        mujeres que habitan en México, <em>Justicia para las mujeres</em> es un proyecto formativo, narrativo y de
        divulgación,
        que apunta a una transformación cultural desde el interior de las instancias encargadas de garantizar el acceso
        a la justicia a las mujeres en su diversidad.
    </p>
</div>
<div class="block-info-page etiquetas">
    <h3>Metodología</h3>
    <p>Para el análisis y sistematización de los contenidos, se tomaron, como referente y guía, elementos
        propuestos por algunos Relatores Especiales y Comités de Naciones Unidas en materia de
        derechos humanos, que en su conjunto han sido llamados como el <a class="fuenteslista"
            style="text-decoration: underline;"
            href="https://relacso.flacso.edu.mx/volumen-02-2013/numero-03/metodologia-desempaque-analisis"
            target="_blank">“método de
            desempaque de derechos”</a>.</p>
    <h3 style="margin-top: 16px;">Fuentes</h3>
    <p style="margin-top: 16px;">Se tomaron como fuentes los órganos del sistema universal y del sistema interamericano
        de protección de los derechos humanos, particularmente las instancias internacionales que se encargan de la
        interpretación y revisión de la aplicación de las dos convenciones en cuestión, se consideraron también órganos
        surgidos a partir de otros tratados internacionales de derechos humanos, que guardan relación con los derechos
        que se consagran en la <span class="versalitas">cedaw</span> y en <span class="versalitas">belém do pará</span>.
        Entre los documentos citados encontramos recomendaciones,
        sentencias y observaciones de la Comisión Interamericana de Derechos Humanos (<span
            class="versalitas">cidh</span>), la Corte Interamericana de
        Derechos Humanos (<span class="versalitas">corteidh</span>), y el Comité <span class="versalitas">cedaw</span>.
    </p>
    <h4>Fuentes Primarias</h4>
    <div class="contenedor fuentesblock" style="margin: 12px auto;">
        <a class="fuenteslista" *ngFor="let fuente of fuentes" [innerHTML]="fuente"></a>
    </div>
    <h4>Fuentes Secundarias</h4>
    <div class="contenedor fuentesblock" style="margin: 12px auto;">
        <a class="fuenteslista" *ngFor="let fuente of fuentesSecundarias" [innerHTML]="fuente"></a>
    </div>
    <h3 style="margin-top: 16px;">Etiquetas</h3>
    <p>Para la búsqueda y la sistematización de los contenidos de las convenciones, se propusieron etiquetas o hashtags
        que resaltan el tema tratado por el artículo o apartado, y guían en la búsqueda de estas temáticas o poblaciones
        afectadas a lo largo del sitio y sus recursos. Por ejemplo #ViolenciaSexual o #MujeresIndígenas.</p>
    <div class="contenedor" style="margin: 12px auto;">
        <a *ngFor="let etiqueta of etiquetas" [routerLink]='getLigaEtiqueta(etiqueta)'>
            <span class="hashtag">#</span>{{etiqueta}}
        </a>
    </div>
</div>
<app-mostrar-materiales *ngFor="let seccion of secciones;let i=index" [seccion]=seccion>
</app-mostrar-materiales>