<div class="block-content multiple materiales home">
    <h2 class="subtitle">
        Compartir en redes sociales
    </h2>
    <div class="botonesRedes">
        <button shareButton="facebook" [url]=ruta class="redondo">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </button>
        <button shareButton="twitter" [url]=ruta class="redondo">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </button>
        <button shareButton="linkedin" [url]=ruta class="redondo">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </button>
    </div>
</div>